extends layout

block content
    h1=title
    div Memory: #{memory}
    div Memory Type: #{memoryType}
    div GPU Clock Speed: #{GPUClockSpeed}
    div GPU Boost Clock Speed: #{GPUBoostClockSpeed}
    div Available: #{isAvailable}
    div Quantity: #{quantity}

    a(href=videoCardUrl+'/delete')
        button.btn-primary Delete