extends layout

block content
    h1=title
    div Memory: #{memory}
    div Memory Type: #{memoryType}
    div GPU Clock Speed: #{GPUClockSpeed}
    div GPU Boost Clock Speed: #{GPUBoostClockSpeed}
    div Available: #{isAvailable}
    div Quantity: #{quantity}

    div.form-group
        a(href=videoCardUrl+'/delete')
            button.btn-secondary Delete
        a(href=videoCardUrl+'/update')
            button.btn-primary Update
    